{% extends 'payapp/base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<!-- About page for rendering info to user -->
    <div class="container my-4">
        <div class="row">
            <div class="col-md-12">
                <h2>About Our Company</h2>
                <p>We are a secure and reliable online platform that enables easy and fast cross-border money transfers for individuals and businesses.</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <h4>Our Team</h4>
                <p>Our diverse and experienced team is dedicated to providing seamless and secure global money transfer services to our users.</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <h4>Our Clients</h4>
                <p>Our platform caters to individuals and businesses of all sizes who need to send or receive money internationally.</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <h4>Our Mission</h4>
                <p>Our mission is to make international money transfers simple, fast, and secure for everyone.</p>
            </div>
        </div>

    </div>
{% endblock body %}


