{% extends 'register/base.html' %}
{% load crispy_forms_filters %}
{% load widget_tweaks %}
<!-- Login Page for register app -->
{% block title %}
    Login to an Account
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="d-flex justify-content-center"> <!-- Center the container -->
        <div class="col-lg-6"> <!-- Limit the width of the container -->
            <h1 style="text-align: center;">Login</h1>
            <form method="post" class="form-group">
                {% csrf_token %}
                <div class="form-group">
                    {{ login_user.username|add_class:"form-control"|attr:"placeholder:Username"|attr:"aria-label:Username"|attr:"aria-describedby:basic-addon1"|attr:"autocomplete:off" }}
                </div>
                <div class="form-group">
                    {{ login_user.password|add_class:"form-control"|attr:"placeholder:Password"|attr:"aria-label:Password"|attr:"aria-describedby:basic-addon2"|attr:"autocomplete:off" }}
                </div>
                <button type="submit" class="btn btn-success btn-block">Login</button>
            </form>
            <p class="text-center mt-2">Don't have an account? <a href="/register_user">Create an account</a>.</p>
        </div>
    </div>
{% endblock %}
