{% extends 'register/base.html' %}
{% load crispy_forms_filters %}
{% load widget_tweaks %}

{% block title %}
    Transfer Amount Between Users
{% endblock %}

{% load crispy_forms_tags %}
<!-- Amount Transfer Page for transactions app which renders form created in this app-->
{% block content %}
    <div class="d-flex justify-content-center"> <!-- Center the container -->
        <div class="col-lg-6">
            <h2 style="text-align: center;">Transfer Amount</h2>
            <form method="post" class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Send Money</button>
            </form>
        </div>
    </div>
{% endblock %}